# Python
__pycache__/
*.py[cod]

# Environment files
.env
.env.*

# VS Code
.vscode/

# Node
node_modules/

# SQLite DB
*.db

# OS files
.DS_Store
Thumbs.db

# Build
/dist
/build

# Logs
*.log

# Misc
*.bak
*.swp
